html body {
    height: 100%;
    margin: 0;
}


body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    background-image: url("../images/doodles.png");
}
header{
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
}
.nav{
    width: 960px;
    margin: auto;
    clear: both;
    align-items: center;
}
.logo {    
    color: white;
    background-color: #4aaaa5;
    padding: 20px;
    margin: 0;
    width: 250px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    float: left;  
}
.navbar {
    float: right;
    position:relative;
    margin-top: 20px;
}
.navbar ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
.navbar li{
    display: inline;
    padding: 0px 10px;
    font-size: 14px;
    border-right: 1px solid #cccccc;
}
.navbar li:last-child{
    border-right: none;
    padding: 0px 0px 0px 10px;
}
.navbar a {
    text-decoration: none;
    color: #777777;
}
.navbar a:hover {
    color: #4aaaa5;
}
.container{
    clear:both;
    flex: 1 0 auto;
    margin: auto;
}
.container h2 {
    border-bottom: 3px solid #dddd;
    color: #4aaaa5;
    padding-bottom: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.mainbox{
    width: 920px;
    margin: auto;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    background-color: #ffffff;
    overflow: auto;

}
#index-img{
    float: left;
    margin-right: 20px;
}
.game {
    width: 300px;
    float: left;
    margin: 20px 55px 30px 0px;
    position: relative;
    
}
.game:nth-child(odd){
    margin-right: 0px;
}
.game p{
    position: absolute;
    background-color: #4aaaa5;
    text-align: center;
    width: 280px;
    padding: 10px;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    bottom: 0px;
}
input, textarea{
    width: 100%;
}
input[type=submit]{
    width: 100px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
    padding: 10px 0px;
    cursor: pointer;
    
}
footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: #dddddd;
    text-align: center;
    align-content: flex-end;
    font-size: 12px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column
}
footer p {
    margin-bottom: 0;
}
input {
    margin-bottom: 10px;
    padding:5px;
}
form {
    margin-bottom: 0px;
}
@media screen and (max-width: 980px){
    .nav, .container{
        width: 90%;
    }
    .mainbox{
        width: 660px;
        float: left;
    }
    .game{
        width: 300px;
    }
}
@media screen and (max-width: 768px){
    .nav, .container {
        width: 90%;
    }
    .mainbox{
        width: auto;
        float: none
    }
   

}
@media screen and (max-width: 640px){
    .logo, .nav, .navbar{
        width: 100%;
    }
    .nav{
        position: static;
    }
   .navbar{
       text-align: center;
   }
   .game, .game img{
       width: 100%;
       height: auto;
   }
   .game p{
       width: 100%;
       box-sizing: border-box;
   }
   #index-img{
       width: 100%;
       height: auto;
   }
   
}




